.*

# Vendor plugins.
node_modules/

# Generated assets.
css/
js/

# Git stuff.
!.git*

# Configurations.
!.babelrc
!.bowerrc
!.eslintrc
!.js-config.yml
!.scss-lint.yml
!.scss-config.yml
!.autoprefixer-config.yml

# Custom plugins.
!.gulp/

# Source code.
!sources/scss/
!sources/js/
