@import 'variables', 'mixins', 'normalize';

html {
  &:before {
    content: "#{inspect($breakpoints)}";
    display: none;
  }
}

@each $tag, $size in (
  h1: 16px,
  h2: 18px,
  h3: 22px,
  h4: 28px,
  h5: 32px,
  h6: 38px,
) {
  #{$tag} {
    @include font($size, 1.2, 300);
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#overlay {
  @include full-width(fixed);
  background: rgba(0, 0, 0, .6);
}
